# Node
node_modules/
**/node_modules/

# Build outputs
**/dist/
**/build/

# Env files
**/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# MacOS
.DS_Store

# Backend data
backend/data/

# IDE
.vscode/
.idea/
